In [3]:
_ahmd = 1
_ahmd1 = 2
_ahmd_03 = 3

In [4]:
_ahmd

1

In [5]:
_ahmd1

2

In [6]:
_ahmd_03

3

In [7]:
a= input("Enter your Name: ")
b= int (input("Enter Your Age: "))
c= input ("Enter Your Address: ")
print('Your Data Has Been Stored... \nPlease Check Your Data Given Below...')
print('Name={0}\n Age={2}\n Address={1}'.format(a,b,c) )

ValueError: invalid literal for int() with base 10: 'a'

In [ ]:
a= int(input("Enter the number to covert it into float"))
b=float(a)
print (b)

5.0

In [ ]:
a= int(input("Enter the number"))
b= int(input("Enter any number"))
c= a//b
print(float(c))

2.0

In [ ]:
a= int(input("Enter the number"))
b= int(input("Enter any number"))
c= a//b
print(round(float(c),5))

1.0

In [ ]:
x= None
type(x)

NoneType

In [11]:
x=';one'
type(x)

str

In [12]:
print("""   Welcome to the Wonderful Calculater     """)
a= int(input("Enter a value: "))
b= int(input("Enter b Value: "))
print(f'Add= {a+b}\nSubract= {a-b}\nMulti= {a*b}\nDivision= {a/b}\nModules= {a%b}\nPower= {a**b}\nFloor= {a//b}')

   Welcome to the Wonderful Calculater
Add= 15
Subract= 5
Multi= 50
Division= 2.0
Modules= 0
Power= 100000
Floor= 2

In [13]:
value= ((8-3)*3)-5
print(value)

10

In [20]:
import math
#Given (Circle=50, Radius=34, Price of 1sq feet= 98)

Circle= 50
Radius= 34
Price= 98

area= math.pi*Radius*Radius
Tot_area= area*Circle
Tot_Price= Tot_area*Price
print(Tot_Price)

17795237.426994026

In [21]:
a= 5
b=21
a==b

False

In [23]:
a= 5
b=21
a!=b

True

In [24]:
a>b

False

In [25]:
a<b

True

In [4]:
x= int(input('Enter A Number: '))
y= int(input('Enter Another Number: '))
if x>y:
    print(x,'is greater than',y)
else:
    print(x,'is lesser than',y)

15 is greater than 2

In [6]:
a= int(input('enter a value: '))
print ('The given value is even') if a%2==0 else print('The given value is odd')

The given value is odd

In [7]:
a= int(input('Enter the year: '))
print('it is a leap year') if a%4==0 else print(' Non leap year')

 Non leap year

In [10]:
a= int(input('Enter A Value: '))
b= int(input('ENter B value: '))
print('A is greater than B') if a>b else('B is greater than A')

A is greater than B

In [11]:
a= int(input('Enter A Value: '))
b= int(input('ENter B value: '))
if a>b:
    print(a,'is greater than',b)
elif a==b:
    print(a,'is equal to',b)
else:
    print(b,'is greater than',a)

15 is equal to 15

In [12]:
a= int(input('Enter a value: '))
if a>0:
    print('Positive')
if a==0:
    print('Zero')
else:
    print('Negative')

Zero

In [16]:
x= input("Add=1\nSub=2\nmul=3\ndiv=4\nmod=5\nEnter the opertation method:")
a= int(input('Enter a value: '))
b= int(input('Enter b value: '))
match x:
    case '1':
        print(a+b)
    case '2':
        print(a-b)
    case '3':
        print(a*b)
    case '4':
        print(a/b)
    case '5':
        print(a%b)
    case _:
        print('Invalid Input')

24

In [18]:
a= int(input('Enter A Value: '))
b= int(input('Enter B Value: '))
c= int(input('Enter C Value: '))
if a>b and a>c:
    print('A is greater than of B and C')
elif b>c and b>a:
    print('B is greater than of A and C')
else:
    print('C is greater than of A and B')

B is greater than of A and C

In [23]:
x= input('How is your breakfast: (super/moderate)   ')
y= input('How is your lunch: (super/moderate)   ')
if x=='super' or y=='super':
    print('Good feedback')
else:
    print('Bad feedback')

Good feedback

In [1]:
l1=['Ahamed',18,'Cuddalore']
l1

['Ahamed', 18, 'Cuddalore']

In [2]:
l1.append('TN')

In [3]:
l1

['Ahamed', 18, 'Cuddalore', 'TN']

In [5]:
l1.remove('Cuddalore')

In [6]:
l1

['Ahamed', 18, 'TN']

In [8]:
l1[2]

'TN'

In [9]:
l1.insert(2,'Cuddalore')

In [10]:
l1

['Ahamed', 18, 'Cuddalore', 'TN']

In [11]:
l1[1]= 'Age 18'
l1

['Ahamed', 'Age 18', 'Cuddalore', 'TN']

In [13]:
'Ahamed' in l1

True

In [14]:
'Ahamed' not in l1

False

In [15]:
len(l1)

4

In [47]:
l2=[1,2,3,4,5,0,-1,-5,-20,-6]
l2.sort()

In [48]:
l2

[-20, -6, -5, -1, 0, 1, 2, 3, 4, 5]

In [49]:
l2[0:5]

[-20, -6, -5, -1, 0]

In [51]:
l2[::-1]

[5, 4, 3, 2, 1, 0, -1, -5, -6, -20]

In [53]:
l2.reverse()
l2

[-20, -6, -5, -1, 0, 1, 2, 3, 4, 5]

In [16]:
a=[1,2,3,4,5,6]
b=[7,8,9,10,11,12]
lst= [a,b]

In [17]:
lst[1][2]

9

In [18]:
days=('sun','mon','tue','wed','thurs','fri','sat')

In [19]:
days.count('sun')

1

In [20]:
days.index('sun')

0

In [22]:
days[3]

'wed'

In [23]:
len(days)

7

In [24]:
l= list(days)

In [25]:
l.append('Holidayz')

In [26]:
days= l
days=tuple(l)

In [27]:
days

('sun', 'mon', 'tue', 'wed', 'thurs', 'fri', 'sat', 'Holidayz')

In [28]:
dic={'name': 'ahamed', 'age': 18}

In [29]:
dic['city']='nellikuppam'

In [30]:
dic

{'name': 'ahamed', 'age': 18, 'city': 'nellikuppam'}

In [33]:
dic.pop('city')

'nellikuppam'

In [34]:
dic.get('name')

'ahamed'

In [35]:
dic['age']=17

In [36]:
dic

{'name': 'ahamed', 'age': 17}

In [37]:
dic.keys()

dict_keys(['name', 'age'])

In [38]:
dic.values()

dict_values(['ahamed', 17])

In [39]:
'ahamed' in dic.values()

True

In [40]:
'ahamed' in dic.keys()

False

In [55]:
up={'game':'bgmi'}
dic.update(up)
dic

{'name': 'ahamed', 'age': 17, 'game': 'bgmi'}

In [41]:
len(dic)

2

In [44]:
a={'apple','orange','banana'}
b={'pineaplle','grapes','watermelon','apple'}
a.union(b)

{'apple', 'banana', 'grapes', 'orange', 'pineaplle', 'watermelon'}

In [45]:
a.intersection(b)

{'apple'}

In [66]:
a={1,2,3,4}
b={2,4,5,6,}
a.difference(b)

{1, 3}

In [67]:
b.difference(a)

{5, 6}

In [4]:
a= input('Enter a name: ')
b= a[::-1]
if a==b:
    print('Palindrome')
else:
    print('non palindrome')

Palindrome

In [6]:
i=0
while i<=100:
    print(i)
    i= i+1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [8]:
i=0
while i<=15:
    print(i)
    i= i+2

0
2
4
6
8
10
12
14

In [11]:
c=1
while c<=5:
    print(c)
    c=c+1

1
2
3
4
5

In [12]:
c=1
while c<5:
    print(c)
    c=c+1

1
2
3
4

In [13]:
l=['Ahmdz','vishwa','Dulasi','manoj','ragul']
l

['Ahmdz', 'vishwa', 'Dulasi', 'manoj', 'ragul']

In [25]:
l1=[]
count=0
while count<len(l):
    l1.append(l[count])
    count= count+1
l1

['Ahmdz', 'vishwa', 'Dulasi', 'manoj', 'ragul', 'Ganesan']

In [21]:
l.append('Ganesan')
l

['Ahmdz', 'vishwa', 'Dulasi', 'manoj', 'ragul', 'Ganesan']

In [22]:
l1

['Ahmdz', 'vishwa', 'Dulasi', 'manoj', 'ragul']

In [19]:
l=['Ahmdz','vishwa','Dulasi','manoj','ragul']
l1=[]
count=0
while count<len(l):
    l1.append(l[count])
    count= count+1
l1

['Ahmdz', 'vishwa', 'Dulasi', 'manoj', 'ragul']

In [20]:
price= [100,12,5,50]

In [24]:
totprice=[]
count=0
while count<len(price):
    tax= price[count] * (18/100)
    tot= price[count] + tax
    totprice.append(tot)
    count = count+1
totprice

[118.0, 14.16, 5.9, 59.0]

In [37]:
range=[1,2,5,6,8,9]
for i in range:
    print(i)

1
2
5
6
8
9

In [36]:
name='Ahamed'
for i in name:
    print(i,end='*')

A*h*a*m*e*d*

In [6]:
for i in range(0,5):
    for j in range(0,i):
        print(j,end=',')
    print()

0,
0,1,
0,1,2,
0,1,2,3,

In [2]:
shpcrt1=['Grapes','Apple','Banana']
shpcrt2=['Iphone','Redmi','Vivo']
shpcrt=[shpcrt1,shpcrt2]
count=0
while count<len(shpcrt):
    j=0
    while j<len(shpcrt[count]):
        print(shpcrt[count][j])
        j=j+1
    count=count+1

Grapes
Apple
Banana
Iphone
Redmi
Vivo

In [7]:
shpcrt1=['Grapes','Apple','Banana']
shpcrt2=['Iphone','Redmi','Vivo']
shpcrt=[shpcrt1,shpcrt2]
for i in shpcrt:
    print(i)

['Grapes', 'Apple', 'Banana']
['Iphone', 'Redmi', 'Vivo']

In [9]:
name=['ahamed','vishwa','girish','yogesh','saran']
i=0
while i<len(name):
    print(name[i])
    if name[i]=='saran':
        print('Saran is listed in this name')
        break
    i=i+1

ahamed
vishwa
girish
yogesh
saran
Saran is listed in this name

In [10]:
name=['ahamed','vishwa','girish','yogesh','saran']
for names in name:
    print(names)
    if names=='saran':
        print('saran is listed in this name')
        break

ahamed
vishwa
girish
yogesh
saran
saran is listed in this name

In [15]:
name=['ahamed','vishwa','girish','yogesh','saran']
count=0
while count<len(name):
    if name[count]=='girish':
        count=count+1
        continue
    print('take',name[count])
    count=count+1

take ahamed
take vishwa
take yogesh
take saran

In [18]:
name=['ahamed','vishwa','girish','yogesh','saran']
for names in name:
    if names=='girish':
        continue
    print('take',names)

take ahamed
take vishwa
take yogesh
take saran

In [3]:
name=['ahamed','vishwa','girish','yogesh','saran']
count=0
while count<len(name):
    if name[count]=='girish':
        print('girish is listed')
        break
    count=count+1
else:
    print('Not listed')

girish is listed

In [6]:
name=['ahamed','vishwa','girish','yogesh','saran']
for names in name:
    if names=='girish':
        print('girish is listed')
        break
else:
    print('Not listed')

girish is listed

In [3]:
if age>=10:
    print('You are a Grown up Child')

NameError: name 'age' is not defined

In [ ]:
try:
    if age>=10:
        print('You are a Grown up Child')
except:
    print('Invalid input error')
finally:
    print('Successfully Completed the Operation')

In [5]:
age=input('Enter Your Age:')
try:
    if age>=10:
        print('You are a Grown up Child')
except NameError:
    print('Name is not defined')
except:
    print('Some other Error')
finally:
    print('Successfully Completed the Operation')

Some other Error
Successfully Completed the Operation

In [1]:
try:
    if age>=10:
        print('You are a Grown up Child')
except NameError:
    print('Name is not defined')
except:
    print('Some other Error')
finally:
    print('Successfully Completed the Operation')

Name is not defined
Successfully Completed the Operation

In [3]:
age= input('Enter your Age : ')
try:
    if age<=18:
        print('You Are an Adult')
except NameError:
    print('name is not defined')
except TypeError:
    print('Given input is invalid for the column')

Given input is invalid for the column

In [4]:
age= input('Enter your Age : ')
try:
    if age<=18:
        print('You Are an Adult')
except NameError:
    print('name is not defined')
except Exception as ex:
    print('Other Error: ', ex)

Other Error:  '<=' not supported between instances of 'str' and 'int'

In [5]:
file= open('/home/variablzstudent/Documents/ahamed/Github Repostery/Python/File handling.txt','x')
file.close()

In [6]:
file= open('/home/variablzstudent/Documents/ahamed/Github Repostery/Python/File handling.txt','w')
file.write('Vanakkam Makkaley.. Ellarum Epdi Irukingo...')
file.close()

In [10]:
file= open('/home/variablzstudent/Documents/ahamed/Github Repostery/Python/File handling.txt','r')
print(file.read())
file.close()

Vanakkam Makkaley.. Ellarum Epdi Irukingo...

In [16]:
file= open('/home/variablzstudent/Documents/ahamed/Github Repostery/Python/File handling.csv','w+')
file.write('''
1. Orewa Ahmdz,100,9150364212,goodbye
2. krishna,100,9150364212,byebye''')
file.close()

In [17]:
file= open('/home/variablzstudent/Documents/ahamed/Github Repostery/Python/File handling.csv','r')
print(file.read())
file.close()

1. Orewa Ahmdz,100,9150364212,goodbye
2. krishna,100,9150364212,byebye

In [18]:
file= open('/home/variablzstudent/Documents/ahamed/Github Repostery/Python/File handling.txt','a')
file.write('''
Naan Thaan Ungal Nanabar Ahamed..
Ellarum Epdi irukingoo''')
file.close()

In [19]:
file= open('/home/variablzstudent/Documents/ahamed/Github Repostery/Python/File handling.txt','r')
print(file.read())
file.close()

Vanakkam Makkaley.. Ellarum Epdi Irukingo...
Naan Thaan Ungal Nanabar Ahamed..
Ellarum Epdi irukingoo

In [1]:
count=0
for i in range(0,5):
    for j in range(0,i):
        print(count,end='')
        count=count+1
    print()

0
12
345
6789

In [4]:
a= int(input('Enter a number to count: '))
count=0
lst=[1,5,3,5,3,1,2,4,8,6,9,7,5,9,7,4,9,7,5,4,5,4,6,]
for i in lst:
    if i==a:
        count=count+1
        print(count)

1
2
3
4
5

In [10]:
name= 'Variablz.txt'
with open(name,'w+') as file:
    x=file.write('Hello guyzzz....')

In [11]:
file= open('Variablz.txt','r')
print(file.read())

Hello guyzzz....

In [12]:
import os

In [13]:
if os.path.exists('Variablz.txt'):
    print('file existed')
else:
    print('not existed')

file existed

In [14]:
if os.path.exists('Variablz.txt'):
    os.remove('Variablz.txt')
    print('Removed')
else:
    print('not existed')

Removed

In [16]:
def areacalc():
    l=15
    b=18
    area= 1/2 *l*b
    print(area)

In [17]:
areacalc()

135.0

In [19]:
def areacalc(l,b):
    area= 1/2 *l*b
    print(area)

In [20]:
areacalc(15,30)

225.0

In [21]:
def calc(a,b):
    area=a*b
    return area

In [22]:
a= int(input('Enter a number: '))
b= int(input('Enter a number: '))
c=calc(a,b)
print(c)

200

In [26]:
def employee():
    a=input('Enter your name: ')
    b=int(input('Enter your age: '))
    c=int(input('Enter your number: '))
    d=input('Enter your salary ')
    return a,b,c,d

In [24]:
prt=employee()
print(prt)

('Ahamed', 18, 9150364212, '150000 per month')